body {
    background-color: black;
    color:white
}
:is(h1, h2, h3, h4, h5, h6) {
    color:white
}

div {
    text-align: center;
    justify-content: center;
    align-items: center;
}
header {
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}
.logo{
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.texto{
    color:white;
    background-color:black;
    text-align: center;
    height:35px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid white;
    margin-top: 10px;
    border-radius: 10px;
    width: calc(20% - 10px);
    margin-right: 20px;
    margin-bottom: 0;
}
.confirmar{
    margin-top: 10px;
    color:white;
    background-color:black;
    width: calc(10% - 40px);
    height:35px;
    padding: 10px 10px;
    min-width: 100px;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    border-radius: 40px;
    cursor:pointer;
}
.ver{
    margin-top: 10px;
    color:white;
    background-color:black;
    width: calc(10% - 40px);
    height:20px;
    padding: 2px 2px;
    min-width: 100px;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    border-radius: 40px;
    cursor:pointer;
}
.socios {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.socios, th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin:0 auto;
    justify-content: center;
}

.campo {
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid white;
}
.action-button {
    margin-top: 10px;
    color:white;
    background-color:black;
    width: calc(20% - 40px);
    height:40px;
    padding: 2px 2px;
    min-width: 100px;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    border-radius: 40px;
    cursor:pointer;
    margin-left:20px;
}
.editar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.campoEdicion{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.campoEdicion label {
    width: 150px;
    text-align: right;
    margin-right: 10px;
}
.campoEdicion input {
    margin-left: 20px;
    flex: 1;
}
.anadir{
    margin-top: 10px;
    color:white;
    background-color:black;
    width: calc(10% - 40px);
    height:50px;
    padding: 10px 10px;
    min-width: 100px;
    box-sizing: border-box;
    border: 1px solid white;
    text-align: center;
    border-radius: 40px;
    cursor:pointer;
}
.datosFamilia{
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .nombreAAVV {
        display: none;
    }
    .socios {
        width: 100%;
        overflow-x: scroll;
    }
    .contenedor {
        display: flex;
        flex-wrap: wrap;
        width:100%;
        margin:0 auto;
    }
    .campo {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border:1px solid white;
    }
    .campoEdicion {
        flex-direction: column;
    }

    .campoEdicion label {
        width: auto;
        text-align: left;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .campoEdicion input {
        width: 100%;
    }
    .campoEdicion button {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .texto {
        width: 70%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .confirmar,.anadir {
        width: 70%;
        min-width: 0px;
    }
}